{
  "extends": "eslint-config-egg",
  "rules": {
    "strict": [ "warn", "never" ],
    "semi": [ "warn", "never" ],
    "comma-dangle": [ "warn", "never" ],
    "array-bracket-spacing": [ "warn", "never" ]
  }
}
